@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

nav{ 
    background-color: white;
    color: black;
    font-family: "Old Standard TT";
    font-size: 18px;
}

body {
    font-family: "Old Standard TT";
}
 
.footerDiv {
        height: 7px;
      }

.gray-custom {
        background-color: #d6eadf;
        box-shadow: 0px 4px 10px rgba(214, 234, 223, 0.4);
      }

.btnContact{
            background-color: #FAFAFA;
            box-shadow: 0px 4px 10px rgba(214, 234, 223, 0.4);
          }

