@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

nav{ 
    background-color: white;
    color: black;
    font-family: "Calibri-Light";
    font-size: 18px;
}

* {
  font-family: "Calibri-Light";
}
body {
    font-family: "Calibri-Light";
}
 
.footerDiv {
        height: 7px;
      }

.gray-custom {
        background-color: #d6eadf;
        box-shadow: 0px 4px 10px rgba(214, 234, 223, 0.4);
      }

.btnContact{
            background-color: #FAFAFA;
            box-shadow: 0px 4px 10px rgba(205, 230, 247, 0.4);
          }

